:root {
  --primary: #1F2744;
  --secondary: #73788C;
  --text-tertiary: #69B99D;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


body,
html {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


/* Menu Nav */

.logo {
  color: #69B99D;
  text-decoration: none;
  font-size: 20px;
}

header {
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header {
  color: var(--secondary);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-nav a {
  position: relative;
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.menu-nav a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--text-tertiary);
  transition: 0.3s;
}

.menu-nav a:hover::before {
  width: 100%;
  color: var(--text-tertiary);
}

.menu-nav a:hover {
  color: var(--text-tertiary);
}


/* Description */

section {
  height: 60vh;
  position: relative;
  flex-grow: 1;
}

.description-home {
  text-align: left;
  margin-left: 7%;
  font-size: 1.5rem;
  color: var(--primary);
  height: 80vh;
}

.description-home h2 {
  margin-top: 60px;
  font-size: 1.2rem;
  font-style: uppercase;
  font-weight: 300;
}

.description-home h1 {
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  width: 450px;
  line-height: 60px;
}

.description-home p {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--primary);
  width: 380px;
  font-weight: 350;
}

.pages-home {
  text-decoration: none;
  color: var(--text-tertiary);
  cursor: pointer;
}

.pages-home:hover {
  color: var(--primary);
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  background: #69B99D;
  opacity: 0.6;
}

footer p {
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 200;
}

footer a {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
}

footer a:hover {
  transform: scale(1.1);
}

#links-contact {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  height: 75px;
}

.image-container {
  position: absolute;
  height: 110%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Rent page */

/* Form */

.container-form-rent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.container-form-rent h1 {
  margin-top: 10px;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  width: 700px;
  line-height: 50px;
}

.form-rent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  padding: 0;
}

.form-rent input,
.form-rent select,
.form-rent textarea {
  padding: 2px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1px;
}

.btn-rent-submit {
  margin-top: 5px;
  width: 100%;
  border: 2px solid #69B99D;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 200px;
  color: var(--text-tertiary);
  background-color: transparent;
  border-radius: 4px;
}

.form-rent button:hover {
  border: 2px solid #69B99D;
  color: #f5f5f5;
  background-color: var(--text-tertiary);
}

.form-rent label {
  margin-top: 5px;
  font-weight: bold;
}


#image-carousel {
  margin-top: 20px;
  align-items: center;
  display: inline-flex;
  margin-left: 25%;
  gap: 20px;

}

.slide-content {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 2px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.slide-content h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.slide-content,
p {
  font-size: 0.9rem;
}

.btn-slide-content {
  margin-top: 10px;
  width: 100%;
  border: 2px solid #69B99D;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 200px;
  color: var(--text-tertiary);
  background-color: transparent;
  border-radius: 4px;
}

.btn-slide-content:hover {
  border: 2px solid #69B99D;
  color: #f5f5f5;
  background-color: var(--text-tertiary);
}

.section-description-about {
  padding: 60px;
}

.about-tittle {
  margin-left: 30px;
  margin-top: 60px;
  font-size: 3rem;
  font-style: uppercase;
  font-weight: 400;
}

.about-description {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 1rem;
  color: var(--primary);
  width: 700px;
  font-weight: 350;
}

#about-subscription-form {
  position: relative;
  margin-left: 0;

}

#form_container {
  position: absolute;
  width: relative;
  height: relative;
  margin-top: 420px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-left: 80px;
}

#form-about label {
  padding: 2px;
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 0.9rem;
  width: 300px;
}

#form-about input {
  padding: 2px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1px;
  font-size: 0.9rem;
  width: 300px;
}

#form-about select {
  padding: 2px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1px;
  font-size: 0.9rem;
  width: 300px;
  align-self: center;
}